body {
  background: #F7F8F9;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.tw--doc {
  padding: 20px 0;
}

.tw--page {
  background: white;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.09);
  margin: 20px auto 0;
  width: 800px;
  height: 1000px;
  padding: 60px;
  cursor: text;
  font-size: 18px;
  line-height: 36px;
}

.tw--editing-cursor-selection {
  background: #B4D5FE;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.tw--editing-cursor-head {
  z-index: 10;
  width: 2px;
  background: rgba(0, 0, 0, 0.85);
  margin-left: -1px;
  animation: blink-animation 1s steps(2, start) infinite;
}