body {
  background: rgba(0, 0, 0, 0.04);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.tw--doc {
  font-family: Arial, sans-serif;
  display: inline-block;
}

.tw--page {
  background: rgba(255, 255, 255, 1);
  margin: 0 auto;
}
.tw--page *::selection {
  background: rgba(255, 255, 255, 1);
}
.tw--page + .tw--page {
  border-top: 1px dashed rgba(0, 0, 0, 0.45);
}
