body {
  background: #F7F8F9;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.tw--page {
  background: white;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.09);
  margin: 18px auto;
  cursor: text;
}

.tw--editing-cursor {
  width: 2px;
  height: 12px;
  background: black;
}
